/* Main Styling */
html {
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #dcc7aa;
}
h1,
p {
  color: black;
}
/* Navbar Styling*/
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}
nav {
  display: flex;
}
li a:hover {
  background-color: grey;
}
/* Form Styling */
.form {
  display: grid;
  grid-template-areas:
    "meter meter"
    "pinfo payment"
    "adrs adrs2"
    "submit submit";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 0.8em 0.5em;
  background-color: #6b7a8f;
  padding: 1vh 1vh;
}

.form label {
  display: block;
}
.meter {
  grid-area: meter;
}
.pinfo {
  grid-area: pinfo;
}
.payment {
  grid-area: payment;
}
.adrs {
  grid-area: adrs;
}
.adrs2 {
  grid-area: adrs2;
}
.submit {
  grid-area: submit;
}
.form textarea {
  height: calc(100% - 1.5em);
}
.form button {
  color: black;
  background-color: #f7882f;
  padding: 1em;
}
#goal {
  width: 97vw;
  height: 7vh;
}
