body {
  background-color: rgba(107, 122, 143, 1);
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  margin: 0px;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}
nav {
  display: flex;
}
/* When you hover over the nav bar*/
li a:hover {
  background-color: grey;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.animal-container {
  background-color: rgba(220, 199, 170, 0.8);
  margin: 30px;
  border-radius: 30px;
  box-shadow: 8px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  gap: 4%;
}

.animal-container img {
  width: 45%;
  height: 60%;
  border-radius: 10px;
}

.animal-box {
  width: 46%;
  height: 70%;
  margin: 10px;
}

.donate-button {
  background-color: #f7882f;
  border-color: antiquewhite;
  width: 70px;
  height: 30px;
}

* {
  font-family: Roboto;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  position: sticky;
  margin-top: 50%;
}
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}
.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}
.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}
.fa {
  padding: 1px;
  text-decoration: none;
  margin: 0px;
}

@media only screen and (max-width: 425px) {
  .animal-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 425px) {
  .animal-box {
    width: 95%;
  }
}

@media only screen and (max-width: 425px) {
  .animal-container img {
    width: 70%;
    height: 90%;
  }
}

/* Media Queries */
@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
